<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<section class="pb-4">
    <div class="bg-white border rounded-5">
        <section class="w-100 p-4 d-flex justify-content-center pb-4">
            <form action="/user/login" method="post">
                <div class="form-outline mb-4">
                    <input type="text" name="id" id="id">
                    <label class="form-label" for="id">id</label>
                    <input type="password" name="pw" id="pw">
                    <label class="form-label" for="pw">pw</label>
                    <input type="submit">
                </div>
            </form>
        </section>
    </div>
</section>
</body>
</html>