<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<section class="container">
    <div class="justify-content-center">
        <section class="w-100 p-4 d-flex justify-content-center pb-4">
            <form action="/user/login" method="post">
                <div class="form-outline mb-4">
                    <input type="text" name="id" id="id">
                    <label class="form-label" for="id">id</label>
                    <input type="password" name="pw" id="pw">
                    <label class="form-label" for="pw">pw</label>
                    <input type="submit">
                </div>
            </form>
        </section>
    </div>
</section>

<hr>

<div class="text-success">
    <hr>
</div>

<section class="vh-100">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="" class="img-fluid" alt="test login page"/>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form>
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>